nav{
	color: red;
}

body {
	background-color: darkgrey;
}

#chatbild {
	margin: 20px;
	/*position: absolute;
	top: 30px;
	left: 750px;*/
}

#chattext {
	color: midnightblue;
}

h4{
color: black;
}

.navbar-inverse .navbar-nav > li > a {
    color: lightblue;
    font-size: 25px;
}

.navbar-inverse .navbar-brand {
    color: darkred;
    font-size: 35px;
}

#bild {
	position: absolute;
	top: -705px;
	left: 850px;
	width: 350px;
}

#bild2 {
position: absolute;
	top: 80px;
	left: 750px;
}

#lenk {
	color: darkred;
}

#lenk2 {
	color: lightblue;
}

#lenk3 {
	color: black;
}

#lenk4 {
	color: yellow;
}

#lenk5 {
	color: #fbf797;
}


#chat {
	margin: 20px;
}
.noDots{
	list-style: none;
}

#chat {
	display:flex;
	justify-content: center;
	background-color: white;
	border: white 5px solid;

}

.parallax {
    min-height: 720px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#extrabild3{
    background-image: url("../bilder/extrabild3.jpg");
}

#extrabild5{
    background-image: url("../bilder/extrabild5.jpg");
    size: 200%

}

.glyphicon{
	font-size: 20px;
	color:	#345678;
}

.caption {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

.redbox {
    position: absolute;
    top: 330px;
    background: #b6313e;
    margin-left:50%;
    transform: translateX(-50%);
    padding: 30px;
    border: 1px solid #b6313e;
}

#amino {
color: darkred ;
}

#rad {
	color: darkred;
}

.whitebox {
    position: absolute;
    top: 900px;
    background: rgba(255, 255, 255, 0.6);
    margin-left:50%;
    transform: translateX(-50%);
    padding: 30px;
    border: 1px solid rgba(255, 255, 255, 0.6);
}

.caption2 {
    position: absolute;
    left: 0;
    top: 115%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption2 span.bord {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

.caption3 {
    position: absolute;
    left: 0;
    top: 128%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption3 span.borde {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

#mobilrubrik {
color:darkred;
text-shadow: 0 1px 0 #c73232,
             0 2px 0 #c73232,
             0 3px 0 #c73232,
             0 4px 0 #d03737,
             0 5px 0 #d03737,
             0 6px 1px rgba(0,0,0,.1),
             0 0 5px rgba(0,0,0,.1),
             0 1px 3px rgba(0,0,0,.3),
             0 3px 5px rgba(0,0,0,.2),
             0 5px 10px rgba(0,0,0,.25),
             0 10px 10px rgba(0,0,0,.2),
             0 20px 20px rgba(0,0,0,.15);
}

#mobilbild {
    width:  800px
}

#mbild2 {
    width: 220px
}

.bilder {
     border-radius: 10%;
}

#musikbild {
position: absolute;
    top: 80px;
    left: 600px;
width: 700px;
border-radius: 7%;
}

